


/* Preorder section */
.preorder {
  text-align: left;
  padding: 30px;
  margin: 20px;
}

.tabs {
  margin-bottom: 20px;
}

.tabs button {
  border: none;
  background: #ddd;
  margin: 5px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.tabs button.active {
  background: #f5a623;
  color: white;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  margin-top: 30px;
}

.book {
  width: 150px;
  text-align: center;
}

.book img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.book p {
  margin-top: 8px;
  font-size: 14px;
}

.page-info {
  margin-top: 20px;
  color: #777;
}

/* Footer */
.footer-box {
  background-color: #a45b28;
  color: #fff;
  padding: 25px 20px;
}

/* Added styles for tabs anchors */
.tabs a {
  border: none;
  background: #ddd;
  margin: 5px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.tabs a.active {
  background: #f5a623;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color :#000
}

.footer-content h4 {
  margin-bottom: 8px;
  color: #000;
}

.copy {
  text-align: center;
  font-size: 13px;
  border-top: 1px solid rgba(8, 8, 8, 0.3);
  padding-top: 10px;
  color: #000;
}

