body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #cc6600;
  font-size: 20px;
}

.logo img {
  height: 100px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40px;
  height: auto;
}

.search-bar {
  flex: 1;
  margin: 0 30px;
}

.search-bar input {
  width: 80%;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.content {
  display: grid;
  grid-template-columns: 260px 1fr 1fr;
  gap: 24px;
}

.sidebar {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 10px;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.btn-nomor {
  background-color: #cc6600;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
}

.menu h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #666;
  font-weight: 600;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 8px 0;
  cursor: pointer;
  transition: color 0.2s;
}

.menu li:hover {
  color: #cc6600;
}

.info-box {
  background-color: #D9D9D9 ;
  padding: 20px;
  border-radius: 10px;
}

.info-box h3 {
  background-color: #ccc;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
}

.info-grid {
  font-size: 14px;
  line-height: 1.8;
}

.info-label {
  color: #666;
  font-weight: 500;
}

.info-personal {
  margin-top: 15px;
}

.btn-action {
  display: block;
  width: 100%;
  background-color: #a9a9a9;
  border: none;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.btn-action:hover {
  background-color: #ccc;
}

.alamat {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
}

.alamat h3 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 15px;
}

.search-alamat input {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.alamat-item {
  background-color: #e9e9e9;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  font-size: 14px;
}

.btn-tambah {
  display: block;
  width: 100%;
  background-color: #ddd;
  border: none;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.btn-tambah:hover {
  background-color: #ccc;
}
.profile {
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-pic {
  width: 30px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}