* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  color: #fff;
}

/* Navbar */
.navbar {
  background-color: #7a4a1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.search-bar input {
  width: 300px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.icons span {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-bottom {
  background-color: #8B5E1E;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.navbar-bottom a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.navbar-bottom a.active {
  text-decoration: underline;
}

/* Title Bar */
.title-bar {
  background-color: #ffffff;
  color: #4c4b4b;
  text-align: left;
  margin-left: 50px;
  margin-top: 10px  ;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* Reusable Box Style */
.box {
  width: 85%;
  max-width: 1000px;
  margin: 25px auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  overflow: hidden;
}

/* Support Section Box */
.support-section {
  background-color: #8B5E1E;
  text-align: center;
  padding: 50px 20px;
}

.support-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.search-box {
  width: 500px;
  padding: 8px 10px;
  border: none;
  margin-bottom: 15px;
}

.btn-search {
  display: block;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
}

/* Contact Section Box */
.contact-section {
  background-color: #8B5E1E;
  padding: 40px 25px;
}

.contact-title {
  background-color: z#8B5E1E;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.faq-section,
.location-section,
.call-section {
  margin-bottom: 25px;
}

.faq-section h4,
.location-section h4,
.call-section h4 {
  margin-bottom: 10px;
}

.faq-section p,
.location-section p,
.call-section p {
  color: #f2f2f2;
  line-height: 1.5;
}

.btn-faq {
  display: inline-block;
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Footer Box */
.footer-box {
  background-color: #a45b28;
  color: #fff;
  padding: 25px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color :#000
}

.footer-content h4 {
  margin-bottom: 8px;
  color: #000;
}

.copy {
  text-align: center;
  font-size: 13px;
  border-top: 1px solid rgba(8, 8, 8, 0.3);
  padding-top: 10px;
  color: #000;
}
