

/* Wishlist */
.wishlist-section {
  padding: 30px 60px;
}

.wishlist-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.wishlist-item {
  display: flex;
  align-items: center;
  background: #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 10px;
  gap: 15px;
}

.wishlist-item img {
  width: 80px;
  height: 110px;
  object-fit: cover;
  border-radius: 5px;
}

.info h3 {
  margin: 0;
  font-size: 18px;
}

.info p {
  margin: 4px 0;
  font-size: 14px;
}

.info span {
  font-size: 13px;
  color: #555;
}

.quantity {
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 20px;
  color: white;
  padding: 2px 10px;
  gap: 10px;
}

.quantity button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.order-btn {
  display: block;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin: 25px auto 0;
}

/* Footer */
.footer-box {
  background-color: #a45b28;
  color: #fff;
  padding: 25px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color :#000
}

.footer-content h4 {
  margin-bottom: 8px;
  color: #000;
}

.copy {
  text-align: center;
  font-size: 13px;
  border-top: 1px solid rgba(8, 8, 8, 0.3);
  padding-top: 10px;
  color: #000;
}

